h1{border: solid}
.header{background-color:rgba(253, 255, 121, 0.973);
}
     
.grid{
    background: rgb(0, 0, 0);
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-direction: center;
    text-align:left;
    flex-wrap: wrap;
}
.camel, .chameleon,.cicada, .panda, .pigeon, .teddybear,.frog, .dog {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
    padding: 50px;
    background-color:#afffeb;
  }

a:link{color:blue}
a:visited{color:blue}

.origami:hover{transform: scale(2)}

